<mat-list>
    <mat-list-item routerLink="/transactions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" matRipple>
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <h4 mat-line>Tranzakciók</h4>
    </mat-list-item>
    <mat-list-item routerLink="/investments" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" matRipple>
        <mat-icon mat-list-icon>receipt_long</mat-icon>
        <h4 mat-line>Befektetések</h4>
    </mat-list-item>
    <mat-list-item routerLink="/shares" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" matRipple>
        <mat-icon mat-list-icon>trending_up</mat-icon>
        <h4 mat-line>Részvény információk</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>logout</mat-icon>
        <h4 mat-line>Kijelentkezés</h4>
    </mat-list-item>
</mat-list>