mat-expansion-panel {
    margin: 1rem;
    button {
        margin: 0 1rem;
    }
}

.positive {
    background-image: linear-gradient(to left, green, 20%, transparent);
}

.negative {
    background-image: linear-gradient(to left, red, 20%, transparent);
}

mat-chip {
    margin-bottom: 1rem !important;
}