<mat-accordion multi>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>{{ category.name }}</mat-panel-title>
            <mat-panel-description>{{ category.description }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div>    
            <button mat-mini-fab color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
