<mat-accordion multi>
    <mat-expansion-panel [ngClass]="{positive: transaction.amount > 0, negative: transaction.amount <= 0}">
        <mat-expansion-panel-header>
            <mat-panel-title appearance="fill" fxFlex="33">{{ transaction.name }}</mat-panel-title>
            <mat-panel-description appearance="fill" fxFlex="33"><strong>{{ transaction.amount }}</strong></mat-panel-description>
            <mat-panel-description appearance="fill" fxFlex="33"><strong><i>({{ formatDate(transaction.due) }})</i></strong></mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <p>{{ transaction.description }}</p>
            <mat-chip-list style="">
                <mat-chip *ngFor="let category of transaction.categories">{{ category.name }}</mat-chip>
            </mat-chip-list>
            <button mat-mini-fab color="primary" (click)="openAddEditTransactionDialog()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="deleteTransaction(transaction.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
